{% extends "base.html" %}

{% block content %}

<div class="bg-grey-light p-3 rounded font-sans w-full m-4">
  <ol class="list-reset flex text-grey-dark">
    <li><a href="{% url 'landing-page' %}" class="text-blue font-bold">Home</a></li>
    <li><span class="mx-2">/</span></li>
    <li>Agents</li>
  </ol>
</div>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    
    <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
        <div>
            <h1 class="text-4xl text-gray-800">Agents</h1>
        </div>
        <div>
            <a href="{% url 'agents:create' %}" class="text-gray-500 hover:text-blue-500">Create new agent</a>
        </div>
    </div>

    <div class="flex flex-wrap w-full">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Username</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"># Leads</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">E-mail</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
          <tr>
            <td class="px-4 py-3">{{ object.user.username }}</td>
            <td class="px-4 py-3">{{ object.leads.count }}</td>
            <td class="px-4 py-3">{{ object.user.email }}</td>
            <td class="px-4 py-3"><a href="{% url 'agents:detail' object.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">Edit</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</section>



{% endblock content %}